.two-moon-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
  }
  
  .moon-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: grab;
    transition: transform 0.3s ease;  /* Smooth transition for zoom */
  }
  
  .moon-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .ui-elements {
    position: fixed; /* Fixed UI elements */
    top: 20px;
    left: 20px;
    z-index: 1;
    color: #FFFAF0;
  }
  
  button {
    background-color: #282828;
    color: #FFD700;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  select {
    background-color: #333;
    color: #FFD700;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .coordinates {
    color: #FFD700;
    margin-top: 10%;
    font-size: 14px;
  }
  